body {
  min-width: 320px;
  margin: 0;
  font-family: "bitterregular", sans-serif;
  color: #061D47;
  background-color: #FEFEFE; }

a,
a:hover,
a:focus {
  text-decoration: none; }

.btn {
  background-color: transparent;
  color: #FEFEFE;
  font-size: 14px; }

.section__number {
  display: none; }

.section__name {
  font-size: 24px;
  padding-left: 40px; }

@font-face {
  font-family: 'bitterbold';
  src: url("../fonts/bitter-bold-webfont.woff2") format("woff2"), url("../fonts/bitter-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bitteritalic';
  src: url("../fonts/bitter-italic-webfont.woff2") format("woff2"), url("../fonts/bitter-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bitterregular';
  src: url("../fonts/bitter-regular-webfont.woff2") format("woff2"), url("../fonts/bitter-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.page-header {
  background-color: #EDE45B;
  padding: 17px 0; }
  .page-header .header-mobile__link {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #061D47;
    font-family: 'bitterbold'; }
  .page-header .row {
    display: none; }
  .page-header .main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .page-header .main-nav__link {
      text-decoration: none;
      color: #061D47;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px 5px; }
      .page-header .main-nav__link--active {
        color: #EFE770;
        position: relative; }
        .page-header .main-nav__link--active:after {
          content: '';
          position: absolute;
          display: inline-block;
          width: 120%;
          height: 4px;
          background-color: #EFE770;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%); }
  .page-header .header-mail {
    position: relative;
    line-height: 15px;
    font-size: 12px;
    color: #061D47;
    padding-right: 4%; }
    .page-header .header-mail > span {
      display: block; }
    .page-header .header-mail > a {
      text-decoration: none;
      color: #061D47;
      display: block; }
      .page-header .header-mail > a:after {
        position: absolute;
        content: '';
        background-image: url(../img/sprite-025085731807672995.png);
        background-position: 0px -136px;
        width: 28px;
        height: 22px;
        top: 50%;
        right: 0;
        transform: translateY(-50%); }

.promo {
  background-image: url(../img/promo-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 43px;
  text-align: center;
  color: #FEFEFE; }
  .promo__title {
    font-size: 40px; }
  .promo p {
    font-size: 20px; }
  .promo__btn {
    border: 4px solid #EDE45B;
    border-radius: 10px;
    padding: 10px 72px;
    margin-top: 140px; }
  .promo__download {
    display: block;
    margin-top: 25px;
    color: #FEFEFE;
    font-size: 10px; }

.about {
  margin-top: 25px; }
  .about .section__name {
    display: none; }
  .about .resume__title {
    font-size: 24px; }
    .about .resume__title > span {
      font-weight: bold; }
  .about .resume__about-text {
    line-height: 17px;
    font-size: 14px; }
    .about .resume__about-text:last-child {
      margin-bottom: 46px; }
  .about .speciality__item {
    margin-top: 65px; }
    .about .speciality__item:first-child {
      margin-top: 40px; }
  .about .speciality__name {
    font-size: 20px;
    font-weight: bold; }
  .about .speciality__description {
    font-size: 14px; }

.portfolio .container {
  padding-left: 0;
  padding-right: 0;
  margin: 0; }

.portfolio__item {
  margin-top: 20px; }

.portfolio__item-caption {
  display: none; }

@media (min-width: 768px) {

  .section__number {
    display: block; }

  .page-header .header-mobile__link {
    display: none; }

  .page-header .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .page-header {
    background-color: #FEFEFE;
    padding: 25px 0; }

  .promo__main p > span {
    font-size: 14px; }

  .promo__main {
    text-align: right; }

  .promo__title {
    font-size: 72px; }

  .promo {
    padding-top: 424px;
    padding-bottom: 145px; }

  .about .section__name {
    display: block; }

  .portfolio__item-caption {
    display: block; } }

/*# sourceMappingURL=style.css.map */
