.page-header {
  background-color: $mobile-yellow;
  padding: 17px 0;
    &__inner {
      padding-left: 15px;
      padding-right: 15px;
      max-width: 1200px;
      margin: 0 auto;
    }
    .header-mobile__link {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: $text-color;
    font-family: 'bitterbold';
      @media (min-width: $screen-sm) {
        display: none;
      }
  }

   .row {
    display: none;
      @media (min-width: $screen-sm) {
        display: flex;
        flex-wrap: wrap;
      }
   }
   .main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
      &__link {
        text-decoration: none;
        color: $text-color;
        font-size: $font-size;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px 5px;
          &--active {
            color: #EFE770;
            position: relative;
              &:after {
                content: '';
                position: absolute;
                display: inline-block;
                width: 120%;
                height: 4px;
                background-color: #EFE770;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
              }
          }
      }
   }
  .header-mail {
    position: relative;
    line-height: 15px;
    font-size: $font-size - 2px;
    color: $text-color;
    padding-right: 4%;
      >span {
        display: block;
      }
      >a {
        text-decoration: none;
        color: $text-color;
        display: block;
    }
  }

@media (min-width: $screen-sm) {
    background-color: #FEFEFE;
    padding: 25px 0;
  }

}

