// @font-face {
//   font-family: ...;
//   src:url();
// }
@font-face {
    font-family: 'bitterregular';
    src: url('../fonts/bitterregular-webfont.woff2') format('woff2'),
         url('../fonts/bitterregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bitteritalic';
    src: url('../fonts/bitteritalic-webfont.woff2') format('woff2'),
         url('../fonts/bitteritalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bitterbold_italic';
    src: url('../fonts/bitterbolditalic-webfont.woff2') format('woff2'),
         url('../fonts/bitterbolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bitterbold';
    src: url('../fonts/bitterbold-webfont.woff2') format('woff2'),
         url('../fonts/bitterbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
