// @font-face {
//   font-family: ...;
//   src:url();
// }
@font-face {
    font-family: 'bitterbold';
    src: url('../fonts/bitter-bold-webfont.woff2') format('woff2'),
         url('../fonts/bitter-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bitteritalic';
    src: url('../fonts/bitter-italic-webfont.woff2') format('woff2'),
         url('../fonts/bitter-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'bitterregular';
    src: url('../fonts/bitter-regular-webfont.woff2') format('woff2'),
         url('../fonts/bitter-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
