$screen-xs:                   480px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1200px;
$screen-xl:                   1920px;

$mobile-yellow:               #EDE45B;
$text-color:                  #061D47;
$bg-color:                    #FEFEFE;

$font-family:                 'bitterregular', sans-serif;
$font-size:                   14px;
